
<%= render 'partials/path_nav' %>





<div class="container">
    <div class="row">
        <!-- TODO: tag texts from product model dynamically
        <div id="sidenav" class="col-xs-2">
            <p>Tag</p>
                <hr>
                

                <ul class="nav">
                    <li>tag1</li>
                    <li>tag2</li>
                    <li>tag2</li>
                </ul>
            
            <br>
            <p>shop</p> 
                <hr>
                
                <ul class="nav">
                    <li>Category 1</li>
                    <li>Category 2</li>
                    <li>Category 3</li>
                </ul>
            </p>
        </div>
        -->


        <!-- #TODO: sorting selector after products are done 
        
        
        <div id="product-wrapper" class="col-xs-10">
            <div id="collections-header" class="row " >
                
                
                <h3 id="heading"><%= params[:collection_name].titleize %></h3>
                
                
                <div id="selector">
                Sort by
                </div>
        -->
                    
                    
                    
            </div>

            <hr>
        

            <div id="products-grid" class="row">
                
                    
                <!-- Fill in products by collection -->
                <% @products.each do |p| %>
                    
                        <div id="product-list" class="card">
                            
                            <!-- TODO: Make whole cell clickable-->
                            <div class="card-body col-md-4 text-center">
                                <!-- Product image -->
                                
                                <%= image_tag 'products/dummy.png', class: "card-img-top " %><br>

                                <!-- Product name -->
                                <%= link_to p.product_name, controller: "products", action: "show", product_name: p.product_name.parameterize 
                                %><br>

                                <!-- Product price -->
                                <!-- TODO: Use currency helper on price-->
                                <%= p.price %>
                            </div>
                        </div>
                    
                <% end %>

                

                <div id="pagination">
                    <!--# TODO: pagination with bootstrap -->
                </div>


            </div>
                
            

        </div>
    </div>
</div>




    

