

<!-- A more "formal" way for "contact" and "shipping_payment" should be writing #new and render info inside of them.
But as I want to update all of the data on screen, let's just separate it into two different pages;
btw it's more convenient for path designation.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    
</head>
<body>
    
    <div id="page" class="container">
        <div class="row">
            <div class="col-xs-8" id="info">
                <div id="brand-logo" class="row text-center"><%= image_tag 'JumpFromPaper_Logo-01_250x.png' %></div>
                <!-- TODO: checkout process nav -->

 

                <%= form_for @contact_info  do |f| %>
                    <!-- FIXME: hardcoded field sizes for now, need to modify to dynamically changing -->
                    

                    <div id="contact" class="row">
                    
                    <!-- FIXME: 
                    <span class="">Already have an account? <a href="#">Log in</a></span>
                    
                    <br>
                    <br>
                    restore it if account functionality is implemented -->
                    
                    <!-- invisible tag to hold default value -->
                    
                    
                    
                    

                     
                    <span>Contact information</span>
                    
                    <p><%= f.text_field :email ,placeholder: "Email", size: 65 %></p>
                    
                    </div>

                    
                    

                    <div id="address" class="row">
                    <span>Shipping address</span>
                    <br>
                    <%= f.text_field :first_name , placeholder: "First name", size: 30 %>
                    <%= f.text_field :last_name,  placeholder: "Last name", size: 30 %>
                    <%= f.text_field :address, placeholder: "Address", size: 65 %>
                    <%= f.text_field :building_optional, placeholder: "Apartment, suite, etc. (optional) ", size: 65 %>
                    <%= f.text_field :city, placeholder: "City", size: 65 %>
                    <br>
                    
                    <%= f.country_select :country, prompt: "Please select country", size: 25 %>
                    <br>
                    <%= f.text_field :province, placeholder: "Province", size: 17%>
                    <%= f.text_field :post_code, placeholder: "Postcode", size: 17 %>
                    <%= f.text_field :phone, placeholder: "Phone", size: 65%>
                    <%= f.hidden_field :cart_id, value: @cart.id %>
                    <%= f.hidden_field :order_id, value: 1 %> 
                    <!-- Give it a dummy ID to show it's not finished yet.
                    Later we can still locate it with cart id.
                    It will be updated when the order is really created.-->

                    <br>
                    <button id="return" class="btn"><%= link_to "< Return to cart", carts_path(@line_items) %></button>
                    
                    
                    
                    
                    <button id="submit" class="pull-right"><%= f.submit "Continue to shipping method" %></button>

                    
                    </div>

                    
                    

                  
                <% end %>


            
            
            
            
            </div>
            <div id="item-info" class="col-xs-4">
            <%= render 'item_info', { line_items: @line_items, cart: @cart } %>
            </div>
        
        
        
        
        
        </div>

        
    
    
    
    
    
    </div>
    </div>
</div>




</body>

<footer>
    
</footer>
</html>