<head>
<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
</head>


<div class="container">
    <div class="row justify-content-between">
        

        <div id="nav" class="col-xs-8">
            
            <!--FIXME: write helper to show path -->

            HOME > <%= params[:collection_name].titleize.upcase %> 
            
            
        
        </div>

        <div id="social" class="col-xs-4 text-right">
            
            <!--FIXME: use correct icons later and add links-->
        
            <%= link_to ('<i class="fab fa-facebook" style="font-size:14px;color:gray"></i>').html_safe, 'https://www.facebook.com/JumpFromPaper?fref=ts' %>&nbsp
            <%= link_to ('<i class="fab fa-instagram" style="font-size:14px;color:gray"></i>').html_safe, 'https://www.instagram.com/jumpfrompaper/' %>&nbsp
            <%= link_to ('<i class="fab fa-pinterest-p" style="font-size:14px;color:gray"></i>').html_safe, 'https://www.pinterest.com/jumpfrompaperbag/boards/' %>&nbsp
            <%= link_to ('<i class="fab fa-tumblr" style="font-size:14px;color:gray"></i>').html_safe , 'http://jumpfrompaper.tumblr.com/' %>&nbsp
            <%= link_to ('<i class="fab fa-youtube" style="font-size:14px;color:gray"></i>').html_safe, 'https://www.youtube.com/channel/UCMf0VyC1G89DGKV2dtbx1aQ' %>
            
        </div>
    </div>

</div>
