
<!-- Divide the content into 4 rows-->
<div class="container">
    <!-- Basic cart info like Product, Price... etc.-->
    <div id="title" class="row">
        <span class="col-xs-6">PRODUCT</span>
        <span class="col-xs-2">PRICE</span>
        <span class="col-xs-2">QUANTITY</span>
        <span class="col-xs-2 push-right">TOTAL</span>

        <hr>
    </div>
    


    <!-- Line item info-->
    <%= form_for :cart do |f| %>
      <% @line_items.each do |line_item| %>
    
        <div id="content" class="row">
            <span id="product_name" class="col-xs-2">
                <!--FIXME: put the actual image after the function is finished-->
                <p><%= image_tag 'products/dummy.png' %></p>
                
            </span>

            <span id="description" class="col-xs-4">
                <p><h4><%= Product.find(line_item.product_id).product_name  %></h4></p>
                
                <p>JumpFromPaper</p>
            </span>

            <span id="price" class="col-xs-2">
                <p><%=Product.find(line_item.product_id).price%></p>
            </span>
            
            <span id="quantity" class="col-xs-2">
            
            <!-- Rails way
            BOX
            -->
            
            
            <br>
            
            <span id="remove">
            <!-- Rail way 
            <%= link_to 'Remove', '#' %>
            -->
            </span>
            
            
            </span>
            <span id="total" class="col-xs-2 push-right">
            USD$XXX.OO
            </span>
        </div>

      <% end %>

    

        <!-- Checkout info -->
        <div id="info" class="row">
            <span id="custom_notice">Customs are not included in the price of goods.</span>
            <span id="subtotal" class="pull-right">Subtotal USD$XXX.**</span>
        </div>

        <!-- Notes and cart actions -->
        <!--TODO: As Vue is applied, don't make a update button -->
        <div id="notes_action" class="row">
            <div id="notes" class="col-xs-8">
                <p><%= f.label :notes %></p>
                <p><%= f.text_area :notes %></p>
            </div>

            <div id="action" class="col-xs-4">
                <p class="pull-right"><i>Shipping will be calculated at checkout.</i></p>
                <br>
                <br>
                <p class="pull-right"><%= button_to "CHECK OUT", '#' %></p>
            </div>
        
        </div>
    <% end %>
    


</div>















<!-- TODO: add column "note" to "carts" table -->