<%= render 'partials/path_nav' %>

<div id="prev_next" class="pull-right">
<!-- TODO: conditionally show 'previous', '|', 'next' -->
    <span>
        <%= link_to 'â†Previous Product', '#' %>
        <p>|</p>
        <%= link_to 'Next Product', '#' %>
    </span>
</div>

<!-- FIXME: Let's just take three collection for practice, if there's need to interact with more collections, just add later-->
<div id="product-container" class="container">
    <div class="row">
        <div id="picture" class="col-xs-6">
            <%= image_tag 'products/dummy.png' %>
        </div>

        <div id="product-info" class="col-xs-6">
            <h3><%= @product.product_name %></h3><br>
            <!-- TODO: use number_to_currency method for price in i18n implementation, default USD$ -->
            <span>USD$@<%= product.price %></span><br>
            <hr>
            <div id="quantity-select" class="col-xs-5">Quantity</div>
            <div id="add-to-cart" class="col-xs-7"><%= button_to 'ADD TO CART', path: '#'%></div>
            <hr>
            <div id="product-description">
            <!-- Add .html_safe to ensure to description HTML tags can be applied instead of shown directly -->
                <%= @product.description_short.html_safe %><br>
                <%= @product.description_long.html_safe %>
            </div>

            <div class="size">

            <h4>SIZE</h4>

            <ul>
                <!-- TODO: write unit helper for lengths in i18n implementation, default: cm -->
                <li>Contracted: <%= @product.size_contracted %> cm</li>
                <li>Extended: <%= @product.size_extended %> cm </li>
                <% if @product.size_strap !== "" %>
                <li>Strap: <%= @product.size_strap %> cm</li>
                <% end %>
                <% if @product.size_handdrop !== "" %>
                <li>Hand Drop: <%= @product.size_handdrop %> cm</li>
                <% end %>
            </ul>

            </div>

            <div class="detail">
                <h4>DETAIL</h4>
                
                <ul>
                    <li>Style: <%= @product.detail_style %></li>
                    <li>Material: <%= @product.detail_material %></li>
                    <li>Cleaning: <%= @product.detail_cleaning %></li>
                    <li>Max capacity: <%= @product.detail_capacity %></li>
                </ul>

            </div>

            <!-- TODO: hide the next three sections with JS, shown on:click-->
            <div class="color">
                <span>
                Please note that actual colors may vary due to the different monitor settings or different lighting effect in the model shoot.
                </span>
            </div>

            <div class="delivery">
                <span>
                Delivery normally will take 3-10 business days. We ship to AU ,CA ,UK ,MX ,FR ,GE ,NL ,NOR ,SKR ,JP and other places. For more detail, please click <a href="https://www.jumpfrompaper.com/pages/delivery-region">Here</a> 
                </span>
            </div>

            <div class="return_warranty">
                <span>
                Returns are eligible within 28 days of receipt. For more detail, please click <a href="https://www.jumpfrompaper.com/pages/return">Here</a><br>
                All JumpFromPaper products are provided with six months warranty that covers defects in materials and workmanship.
                </span>
            
            </div>

            <div id="stars_social"></div>

            <div class="reviews">
            <!-- TODO: use Vanilla to generate form and conditionally show reviews -->
            
            
            </div>




        
        </div>
    
    
    
    </div>

</div>

<div div="recently_viewed" class="container">
    <div class="row">
    <!--TODO: Randomly show products in 6 columns for this stage-->
    </div>


</div>

<div div="you_may_also_like">
    <div class="row">
    <!--TODO: Randomly show products in 4 columns for this stage-->
    </div>
</div>



