<div class="container">
      <div class="row">
        
        <div class="col-md-4 text-center">
          <div id="get-in-touch">
            <h3><b>Get in touch with us!</b></h3>
            
            <!-- TODO: Use 'Font Awesome' to implement social icons on layout and partials -->
            <!-- https://www.w3schools.com/icons/fontawesome_icons_brand.asp -->
            <!-- https://www.injerry.com/blog-view.php?PID=5&sn=26 -->
            <%= link_to 'facebook.gif', 'https://www.facebook.com/JumpFromPaper?fref=ts' %><br>
            <%= link_to 'instagram.gif' , 'https://www.instagram.com/jumpfrompaper/' %><br>
            <%= link_to 'pinterest.gif' , 'https://www.pinterest.com/jumpfrompaperbag/boards/' %><br>
            <%= link_to 'tumblr.gif' , 'http://jumpfrompaper.tumblr.com/' %><br>
            <%= link_to 'youtube.gif' , 'https://www.youtube.com/channel/UCMf0VyC1G89DGKV2dtbx1aQ' %>
          
          </div>
        </div>

        <div class="col-md-4 text-center">
          <div id="about-us">
            <h3><b>About Us</b></h3>
            <%= link_to 'Our Story', '#' %><br>
            <%= link_to 'Taiwan Pinkoi Store', 'https://www.pinkoi.com/store/jumpfrompaper' %><br>
            <%= link_to 'China Website', 'https://www.jumpfrompaper.cn/' %>
          
          </div>
        </div>

        <div class="col-md-4 text-center">
          <div id="customer-service">
            <h3><b>Customer Service</b></h3>
            <%= link_to 'FAQs', '#' %><br>
            <%= link_to 'Delivery Region', '#' %><br>
            <%= link_to 'Contact Us', '#' %><br>
            <%= link_to 'Return & Exchange', '#' %><br>
            <%= link_to 'Privacy Policy', '#' %><br>
            <%= link_to 'Terms of Use', '#' %><br>
            <%= link_to 'Dealer List', '#' %>
          </div>
        </div>
          
          
      </div>

    </div>

    <div id="copyright" class="text-center">
    © 2018, JumpFromPaper
    </div>