<!-- #TODO: make them button-like, especially need to apply drop-down for "SHOP" -->
    <nav class="navbar navbar-default text-center " >
      <div class="container">
        <%= link_to 'HOME', "/", class: "btn" %>
        <%= link_to 'SHOP', "/collections", class: "btn" %>
        <%= link_to 'GRAFFITI WORLD', "https://www.jumpfrompaper.com/pages/graffiti-world", class: "btn" %>
        <%= link_to 'LOOK BOOK', "https://www.jumpfrompaper.com/blogs/lookbook", class: "btn" %>
        <%= link_to 'BLOG', "https://www.jumpfrompaper.com/blogs/news", class: "btn" %>
        <%= link_to 'ABOUT US', "https://www.jumpfrompaper.com/pages/about-us", class: "btn" %>
      </div>
    </nav>