<!-- #TODO: make them button-like, especially need to apply drop-down for "SHOP" -->
    <nav class="navbar navbar-default text-center " >
      <div class="container">
        <%= link_to 'HOME', "#", class: "nav-item" %>
        <%= link_to 'SHOP', "#" %>
        <%= link_to 'GRAFFITI WORLD', "#" %>
        <%= link_to 'LOOK BOOK', "#" %>
        <%= link_to 'BLOG', "#" %>
        <%= link_to 'ABOUT US', "#" %>
      </div>
    </nav>