

<div class="util-bar container-fluid">
      <div class="row">
        <!-- #TODO: implement search function with Elasticsearch 
        <span id="search" class="col-xs-2">Search</span>
        -->

        
        <div id="member-content" class="pull-right ">
          <!-- TODO: Ignore this part for now as we are not implementing account functionalities. Should make it later if there's time. 
          <span id="padding_space" class="pull-right">&nbsp &nbsp</span>

          <span id="register" class="pull-right">
          <%= link_to 'Create account', new_user_registration_path %>
          </span>
          <span class="pull-right"> | </span>
          <span id="login" class="pull-right">
          <%= link_to 'Log In', user_session_path %>
          </span>
          <br>
          -->
          <span id="padding_space" class="pull-right">&nbsp &nbsp</span>
          <span id="login" class="pull-right">
          <%= link_to 'Check order', controller: "orders", action: "order_check" %>
          </span>


          <!-- TODO: check order by email or member account -->

          
          
          
          
          <br>
            
          

          <span id="cart" class="pull-right">
            <% if @cart.line_items.count ==0 %>
            <%= "No item in cart" %>
            
            <% else %>
            <%= items_in_cart(@cart.line_items.count, carts_path) %>
            <% end %>
            
            <!-- FIXME: When an item is added to cart, it should record the cart_id. Implement it in LineItem model. -->
            &nbsp 
          </span>

          <span id="padding_space">&nbsp &nbsp</span>

        </div>
      </div>
          
    </div>