<!-- FIXME: used placeholders for now, need to correct them to the actual pictures, layouts and links -->




<!DOCTYPE html>
<html>
  <head>
    <title>Jfpcp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="shipment-announcement center">
    We ship to Canada, Mexico, United Kingdom, Australia, Denmark, Norway and other places. Find out more here!
    </div>
    
    #TODO: implement search function
    #TODO: implement account utilities
    #FIXME: align-left for #search, align-right for #account
    <div class="util-bar">
      <div id="search">Search</div>
      <div id="account">
        <ul>
          <li>Log In</li>
          <li>Create account</li>
        </ul>
        <div id="cart" class="float-right">Cart content</div>
      </div>
      
    </div>

    <div class="brand-logo text-center">
      <%= image_tag "JumpFromPaper_Logo-01_250x.png" %>
    </div>

    <nav class="navbar navbar-default">
      <div class="container">
        <%= link_to 'HOME', "#" %>
        <%= link_to 'SHOP', "#" %>
        <%= link_to 'GRAFFITI WORLD', "#" %>
        <%= link_to 'LOOK BOOK', "#" %>
        <%= link_to 'BLOG', "#" %>
        <%= link_to 'ABOUT US', "#" %>
      </div>
      
      
      

    </nav>

    <p class="notice"><%= notice %></p>       
    <p class="alert"><%= alert %></p>


	<%= yield %>
  </body>
  
  
  
  <footer>
    <div id="get-in-touch" class="footer-title">
      <h2>Get in touch with us!</h2>
      
      <%= link_to 'facebook.gif', 'https://www.facebook.com/JumpFromPaper?fref=ts' %>
      <%= link_to 'instagram.gif' , 'https://www.instagram.com/jumpfrompaper/' %>
      <%= link_to 'pinterest.gif' , 'https://www.pinterest.com/jumpfrompaperbag/boards/' %>
      <%= link_to 'tumblr.gif' , 'http://jumpfrompaper.tumblr.com/' %>
      <%= link_to 'youtube.gif' , 'https://www.youtube.com/channel/UCMf0VyC1G89DGKV2dtbx1aQ' %>
    
    </div>

    <div id="about-us" class="footer-title">
      <h2>About Us</h2>
      <%= link_to 'Our Story', '#' %>
      <%= link_to 'Taiwan Pinkoi Store', 'https://www.pinkoi.com/store/jumpfrompaper' %>
      <%= link_to 'China Website', 'https://www.jumpfrompaper.cn/' %>
    
    </div>
    
    <div id="customer-service" class="footer-title">
      <h2>Customer Service</h2>
      <%= link_to 'FAQs', '#' %>
      <%= link_to 'Delivery Region', '#' %>
      <%= link_to 'Contact Us', '#' %>
      <%= link_to 'Return & Exchange', '#' %>
      <%= link_to 'Privacy Policy', '#' %>
      <%= link_to 'Terms of Use', '#' %>
      <%= link_to 'Dealer List', '#' %>
    </div>

    <div id="copyright">
    © 2018, JumpFromPaper
    </div>
  </footer>


  
</html>
