<!-- FIXME: used placeholders for now, need to correct them to the actual pictures, layouts and links -->




<!DOCTYPE html>
<html>
  <head>
    <title>Jfpcp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="shipment-announcement center">
    We ship to Canada, Mexico, United Kingdom, Australia, Denmark, Norway and other places. Find out more here!
    </div>
    
    <!-- #TODO: implement search function -->
    <!-- #TODO: implement account utilities -->
    
    
    <div class="util-bar container-fluid">
      <div class="row justify-content-between">
        
        <div id="search" class="col-md-2">Search</div>

        <div id="member-content" class="col pull-right">
          
          <span class="login">Log In</span>
          <span> | </span>
          <span class="register">Create account</span>
            
          

          <span id="cart">Cart content</span>

        </div>
      </div>
          
    </div>
        
        
    
        
      
    

    <div class="brand-logo text-center">
      <%= image_tag "JumpFromPaper_Logo-01_250x.png" %>
    </div>

    <!-- #TODO: make them button-like, especially need to apply drop-down for "SHOP" -->
    <nav class="navbar navbar-default text-center">
      <div class="container">
        <%= link_to 'HOME', "#" %>
        <%= link_to 'SHOP', "#" %>
        <%= link_to 'GRAFFITI WORLD', "#" %>
        <%= link_to 'LOOK BOOK', "#" %>
        <%= link_to 'BLOG', "#" %>
        <%= link_to 'ABOUT US', "#" %>
      </div>
      
      
      

    </nav>

    <p class="notice"><%= notice %></p>       
    <p class="alert"><%= alert %></p>


	<%= yield %>
  </body>

  
  
  
  
  <footer>
    <div class="container">
      <div class="row">
        
        <div class="col-md-4 text-center">
          <div id="get-in-touch">
            <h4>Get in touch with us!</h4>
            
            <%= link_to 'facebook.gif', 'https://www.facebook.com/JumpFromPaper?fref=ts' %><br>
            <%= link_to 'instagram.gif' , 'https://www.instagram.com/jumpfrompaper/' %><br>
            <%= link_to 'pinterest.gif' , 'https://www.pinterest.com/jumpfrompaperbag/boards/' %><br>
            <%= link_to 'tumblr.gif' , 'http://jumpfrompaper.tumblr.com/' %><br>
            <%= link_to 'youtube.gif' , 'https://www.youtube.com/channel/UCMf0VyC1G89DGKV2dtbx1aQ' %>
          
          </div>
        </div>

        <div class="col-md-4 text-center">
          <div id="about-us">
            <h4>About Us</h4>
            <%= link_to 'Our Story', '#' %><br>
            <%= link_to 'Taiwan Pinkoi Store', 'https://www.pinkoi.com/store/jumpfrompaper' %><br>
            <%= link_to 'China Website', 'https://www.jumpfrompaper.cn/' %>
          
          </div>
        </div>

        <div class="col-md-4 text-center">
          <div id="customer-service">
            <h4>Customer Service</h4>
            <%= link_to 'FAQs', '#' %><br>
            <%= link_to 'Delivery Region', '#' %><br>
            <%= link_to 'Contact Us', '#' %><br>
            <%= link_to 'Return & Exchange', '#' %><br>
            <%= link_to 'Privacy Policy', '#' %><br>
            <%= link_to 'Terms of Use', '#' %><br>
            <%= link_to 'Dealer List', '#' %>
          </div>
        </div>
          
          
      </div>

    </div>

    <div id="copyright" class="text-center">
    © 2018, JumpFromPaper
    </div>


  </footer>


  
</html>
